body, input, select, table {
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-size: 14px;
}
label { display: block; }
input[type="text"] {
  width: 400px;
}
hr { margin-top: 1em; }
em { font-size: 0.8em; }
h3 { margin-bottom: 0.2em }
.stats-table > table {
  width: 100%;
  border-color: #000;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-spacing: 0;
  border-collapse: collapse;
}
.stats-table > table td,
.stats-table > table th {
  border-color: #000;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0;
  padding: 3px;
  background-color: #E0ECF8;
}
.stats-table > .summary > span {
  margin-right: 0.5em;
}